# Supabase project configuration
# https://supabase.com/docs/guides/cli/config
project_id = "ueopghkhxudjgtcqlqux"

[api]
enabled = true
port = 54321

[db]
port = 54322
major_version = 15

[db.migrations]
enabled = true

[studio]
enabled = true
port = 54323

[inbucket]
enabled = true
port = 54324

[auth]
enabled = true
site_url = "http://127.0.0.1:5173"

[realtime]
enabled = true